/* .one{
    color: red;
    font-size: 60px;

text-align: center;
}
.container{
    border: 2px solid red;
    width: 200px;
    border-radius: 80px;
    background-color: black;
    box-shadow: 10px 10px 20px rgba(85, 0, 255, 0.5);
}
.container:hover{
    background-color: aliceblue;
    cursor: pointer;
} */
 /* .two{
padding-left: 1000px;
 } */
 


 